body{
  margin: 0px;
}

.container {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.nav-top ul li:first-child{
  vertical-align: middle;
  font-family: CNN, sans-serif;
  font-size: 1.9em;
  text-align: center;
  color: white;
  background-color: #CB0000;
  height: 5vh;
  padding-top: 2vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 3vh;
  border-right: none;
}

.nav-top {
  display: inline-block;
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  padding: 3px;
  color: #bfbfbf;
}

.nav-top ul{
  margin: 5px;
  width: 100%;
}

.nav-top li{
    text-align: center;
}

.nav-top ul li{
  display: inline;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 6px;
  list-style-type: none;
  border-right: 1px solid #bfbfbf;
}

.nav-top ul li:hover{
  color: #EEEEEE;
}

.nav-top ul li:nth-child(14){
  padding-right: 5vh;
  border-right: none;
}

.nav-top .live {
  border: 1px solid #bfbfbf;
  padding: 5px 1em 5px 1em;
  font-size: 12px;

}

.nav-top .usPlus {
  border-right: none;

}

.nav-top .search {
  border: none;

}

.nav-top .dropdown {
  border: none;
}

.nav-top .live img{
  position: relative;
  top: 3.5px;
  padding-left: 2px;
  display: inline;
  width: 20px;
  height:15px;

}

.nav-top .live:hover{
  border-color:#EEEEEE;

}

.box{
  margin-top: 5em;
  vertical-align: top;
  margin-left: .5em;
  display: inline-block;
  width: 32%;
  max-height: 80%;

}

.box ul li {
  position: relative;
  right: 2.7em;
  width: 102%;
  list-style-type: none;
  margin: 2%;
  padding: 4%;
  border-bottom: 1px solid black;
}

.box ul li a:hover{
  color: red;
}

.box a{
  color: black;
  z-index: 2;
  font-family: Heebo-light, Verdana;
  text-decoration: none;
  text-overflow: none;
}

.box a img{
  height: 100%;
  width: 100%;
}

.header2 {
  width: 100%;
  height: 20%;
  background-color: #F2F2F2;
}

.header2 h3{
  position: relative;
  top: .5em;
}
